<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEI8sn30MduCabaDWtWLPs-qu7r-bSjDM</string>
	<key>GCM_SENDER_ID</key>
	<string>878376590461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.expo.frontend</string>
	<key>PROJECT_ID</key>
	<string>trainer-app-36546</string>
	<key>STORAGE_BUCKET</key>
	<string>trainer-app-36546.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878376590461:ios:2b1d4a4b8da90631e8e514</string>
</dict>
</plist>